td {
  max-width: 130px;
}
td input {
  max-width: 100%;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman';
}
body {
  background: rgba(156,246,246,0.3);
}

.title-bar {
  background: rgba(63,51,77,1);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: white;
}



.menu {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 270px;
  background: rgba(63,51,77,1);
}

.space {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
        margin-top: 10%;
}

.el {
    color: white;
    background-color: rgba(63,51,77,1);
    border-radius: 10px;
    padding: 5px;
}

div.image {
  display: table;
  margin: auto;
  height: 125px;
}
.tables {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  align-items: center;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr.click{
  background-color: white;
}

table {
  border-spacing: 0;
}

td > input {
  background: transparent;
    border: none;
}

tr:first-child td{
    font-weight: bold;
  text-align: center
}

.click {
  border: 0;
}

/*th, td {*/
/*  text-align: left;*/
/*  padding: 5px;*/
/*}*/

.right {
  margin-left: 270px;
}
.table {
  width: 90%;
  height: 40px;



  font-size: 24px;
  font-family: Roboto Slab;
  box-shadow: inset 5px 5px 4px rgba(63, 51, 77, 0.5);
  border: none;

}
a.but {
  width: 100%;
  /*margin: auto;*/
  text-align: center;
}


.table:hover {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.place {
  margin-top: 30px;
  overflow-y: auto;
  max-height: 500px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
.navbar{
  min-width: 900px;
  display: flex;
  height: 30px;
  background-color: #ff8484;
  border-radius: 5px;
  align-items: center;
  justify-content: space-around;
}
.add-button {
  display: flex;
  justify-content: space-around;
  width: 40%;
  justify-content: flex-end;
}

.items {
  display: flex;
  justify-content: center;
  max-height: 75%;
  overflow: auto;
  margin-bottom: 30px;
}
.items2 {
  display: flex;
  justify-content: center;
  max-height: 40%; /* TODO -  nie wiem czy dobra proporcja! */
  overflow: auto;
  margin-bottom: 30px;
}

#formularz_filtr {
  display: flex;
}

.logout {
    position: absolute;
    tra: right;
    left: 95%;
}

.gymname {
  display: flex;
  font-size: 24px;
  color: white;
  font-family: "Roboto Light";
  width: 100%;
  justify-content: center;
}

.gymname2 {
  text-align: center;
}