<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet" />
    <link href="/static/css/glowne-12.css" rel="stylesheet" />
    <title>Klubowicze</title>
</head>

<body>

    <div class="menu">
        <div class="gymname"><header class="gymname2">{{ gymname }}</header></div>
        <div class="image"><a class="p" href="/statystyki"><img src="/static/pictures/battery_full_light.png"></a></div>
        <div class="tables">
             <a class="but" href="/pracownicy"><button type="button" class="table">Pracownicy</button></a>
             <a class="but" href="/klubowicze"><button type="button" class="table">Klubowicze</button></a>
             <a class="but" href="/sprzet"><button type="button" class="table">Sprzęt i szafki</button></a>
             <a class="but" href="/pomieszczenie"><button type="button" class="table">Pomieszczenia</button></a>
             <a class="but" href="/plany_treningowe"><button type="button" class="table">Plany treningowe</button></a>
             <a class="but" href="/grupy"><button type="button" class="table">Grupy</button></a>
        </div>
    </div>
    <div class="right">
              <div class="title-bar">
            <header>Klubowicze</header>
             <div class="logout"><a href="/"><img src="/static/pictures/logout.png" alt="przycisk" title="Wyloguj"></a></div>

        </div>
        <div class="space">
        {% if error %}
                <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
            <div class="place">
            <div class="navbar">
            <label for="sortujpo">Wybierz filtr:</label>

                 <form id="formularz_filtr" method="post" action="/czytajFiltr/klubowicze">
                <select name="sortujpo" id="sortujpo">
                {% for r in names %}
                    <option value={{ r }}>{{ r }}</option>
                    {% endfor %}
                </select>
                <input type="text" id="wartosc" name="wartosc" placeholder="Szukaj" >

{#                <div class="add-button" form="formularz_filtr"><a class="p" href="/czytaj_filtr/pracownicy"><img src="/static/pictures/Filter.png"></a>  </div>#}
                 <div class="add-button"><a class="p" href="/klubowicze"><img src="/static/pictures/Filter.png" title="Cofnij filtrowanie"></a></div>
                </form>
                <div class="add-button"><a class="p" href="/dodaj_klubowicze"><img src="/static/pictures/a.png" title="Dodaj klubowicza"></a></div>
            </div>
            <div class="items">
                <table>
                    <tr>
                        {% for r in names %}
                            <td>{{ r }}</td>
                        {% endfor %}
                    </tr>

                        {% for row in data %}
                            <tr><form id="form{{ loop.index0 }}" method="post" action="" ></form>
                            {% set outer_loop = loop %}

                            <td>{{ row[0] }}</td><input type="hidden" form="form{{ outer_loop.index0 }}" value="{{ row[0] }}" width="10px" name="0"/>

                            <td> <input type="text" form="form{{ outer_loop.index0 }}" value="{{ row[1] }}" width="10px" name="1"/></td>

                            <td>{{ row[2] }}</td><input type="hidden" form="form{{ outer_loop.index0 }}" value="{{ row[2] }}" width="10px" name="2"/>
                            <td> <input type="date" data-date-format="YYYY-MM-DD" form="form{{ outer_loop.index0 }}" value="{{ row[3] }}" width="10px" name="3"/></td>
                            <td> <input type="date" form="form{{ outer_loop.index0 }}" value="{{ row[4] }}" width="10px" name="4"/></td>
                            <td> <input type="text" form="form{{ outer_loop.index0 }}" value="{{ row[5] }}" width="10px" name="5"/></td>

                            <td class="click"><input type="image" src="/static/pictures/submit.png" value="OK" form="form{{ outer_loop.index0 }}" name="submit" title="Zapisz zmiany dokonane w wierszu"/></td>
                            <td class="click"><a href="/delete/klubowicze/{{ row[0] }}"><img src="/static/pictures/smietnik.png" width="25" title="Usuń klubowicza"> </a></td>
                            <td class="click"><a href="/dodaj_do_grupy/{{ row[0] }}"><img src="/static/pictures/grupa.png" width="22" title="Dodaj do grupy"> </a></td>
                            <td class="click"><a href="/dodaj_do_planu/{{ row[0] }}"><img src="/static/pictures/hantla.png" width="22" title="Dodaj do planu"> </a></td>

                            </tr>
                        {% endfor %}

                </table>
            </div>    <!-- items -->

            </div>

        </div>
    </div>


</body>

</html>